<table class="w-100">
    <thead class="header">
        <tr>
            <th>Rank</th>
            <th>Car Model</th>
            <th>Manufacturer</th>
            <th>Units Sold (2024)</th>
            <th>Country of Origin</th>
        </tr>
    </thead>
    <tbody>
        <!-- Top 30 Best-Selling Cars -->
        <tr>
            <td>1</td>
            <td>Toyota Corolla</td>
            <td>Toyota</td>
            <td>1,200,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Tesla Model 3</td>
            <td>Tesla</td>
            <td>1,100,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ford F-Series</td>
            <td>Ford</td>
            <td>1,000,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Honda CR-V</td>
            <td>Honda</td>
            <td>950,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Chevrolet Silverado</td>
            <td>Chevrolet</td>
            <td>900,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Honda Civic</td>
            <td>Honda</td>
            <td>850,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Ram 1500</td>
            <td>RAM</td>
            <td>800,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Volkswagen Golf</td>
            <td>Volkswagen</td>
            <td>750,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>9</td>
            <td>BMW 3 Series</td>
            <td>BMW</td>
            <td>720,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Hyundai Elantra</td>
            <td>Hyundai</td>
            <td>700,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Toyota RAV4</td>
            <td>Toyota</td>
            <td>680,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Mercedes-Benz C-Class</td>
            <td>Mercedes-Benz</td>
            <td>660,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Hyundai Tucson</td>
            <td>Hyundai</td>
            <td>650,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Volkswagen Tiguan</td>
            <td>Volkswagen</td>
            <td>630,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Chevrolet Equinox</td>
            <td>Chevrolet</td>
            <td>600,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Ford Escape</td>
            <td>Ford</td>
            <td>580,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Ford Focus</td>
            <td>Ford</td>
            <td>570,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Kia Sportage</td>
            <td>Kia</td>
            <td>550,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Chevrolet Malibu</td>
            <td>Chevrolet</td>
            <td>530,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>20</td>
            <td>BMW X5</td>
            <td>BMW</td>
            <td>510,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Hyundai Sonata</td>
            <td>Hyundai</td>
            <td>490,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Toyota Camry</td>
            <td>Toyota</td>
            <td>470,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Jeep Grand Cherokee</td>
            <td>Jeep</td>
            <td>460,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Audi A3</td>
            <td>Audi</td>
            <td>450,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Volkswagen Passat</td>
            <td>Volkswagen</td>
            <td>430,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Chevrolet Traverse</td>
            <td>Chevrolet</td>
            <td>420,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Nissan Rogue</td>
            <td>Nissan</td>
            <td>410,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Honda Pilot</td>
            <td>Honda</td>
            <td>400,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>29</td>
            <td>BMW 5 Series</td>
            <td>BMW</td>
            <td>390,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Toyota Highlander</td>
            <td>Toyota</td>
            <td>380,000</td>
            <td>Japan</td>
        </tr>

        <!-- Next 30 Best-Selling Cars -->
        <tr>
            <td>31</td>
            <td>Ford Mustang</td>
            <td>Ford</td>
            <td>370,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>32</td>
            <td>Chevrolet Tahoe</td>
            <td>Chevrolet</td>
            <td>360,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>33</td>
            <td>Mercedes-Benz E-Class</td>
            <td>Mercedes-Benz</td>
            <td>350,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Volkswagen Jetta</td>
            <td>Volkswagen</td>
            <td>340,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Honda Accord</td>
            <td>Honda</td>
            <td>330,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>36</td>
            <td>Nissan Altima</td>
            <td>Nissan</td>
            <td>320,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Toyota Tacoma</td>
            <td>Toyota</td>
            <td>310,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>38</td>
            <td>BMW X3</td>
            <td>BMW</td>
            <td>300,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Audi Q5</td>
            <td>Audi</td>
            <td>290,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Chevrolet Spark</td>
            <td>Chevrolet</td>
            <td>280,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Hyundai Santa Fe</td>
            <td>Hyundai</td>
            <td>270,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>42</td>
            <td>Ford Ranger</td>
            <td>Ford</td>
            <td>260,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>43</td>
            <td>Toyota 4Runner</td>
            <td>Toyota</td>
            <td>250,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Kia Sorento</td>
            <td>Kia</td>
            <td>240,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>45</td>
            <td>Tesla Model Y</td>
            <td>Tesla</td>
            <td>230,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>46</td>
            <td>Chevrolet Impala</td>
            <td>Chevrolet</td>
            <td>220,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>47</td>
            <td>Honda Odyssey</td>
            <td>Honda</td>
            <td>210,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>48</td>
            <td>BMW X1</td>
            <td>BMW</td>
            <td>200,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>49</td>
            <td>Volkswagen Polo</td>
            <td>Volkswagen</td>
            <td>190,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Toyota Land Cruiser</td>
            <td>Toyota</td>
            <td>180,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>51</td>
            <td>Jeep Cherokee</td>
            <td>Jeep</td>
            <td>170,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Hyundai Kona</td>
            <td>Hyundai</td>
            <td>160,000</td>
            <td>South Korea</td>
        </tr>
        <tr>
            <td>53</td>
            <td>Audi Q7</td>
            <td>Audi</td>
            <td>150,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>54</td>
            <td>Subaru Outback</td>
            <td>Subaru</td>
            <td>140,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>55</td>
            <td>Toyota Prius</td>
            <td>Toyota</td>
            <td>130,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>56</td>
            <td>Ford Bronco</td>
            <td>Ford</td>
            <td>120,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>57</td>
            <td>Chevrolet Malibu</td>
            <td>Chevrolet</td>
            <td>110,000</td>
            <td>USA</td>
        </tr>
        <tr>
            <td>58</td>
            <td>BMW X4</td>
            <td>BMW</td>
            <td>100,000</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>59</td>
            <td>Honda HR-V</td>
            <td>Honda</td>
            <td>90,000</td>
            <td>Japan</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Kia Niro</td>
            <td>Kia</td>
            <td>80,000</td>
            <td>South Korea</td>
        </tr>
    </tbody>
</table>