    

    <table class="w-100">
        <thead class="header">
            <tr>
                <th>Rank</th>
                <th>Car Model</th>
                <th>Manufacturer</th>
                <th>Units Sold (2024)</th>
                <th>Country of Origin</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Toyota Corolla</td>
                <td>Toyota</td>
                <td>1,200,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Tesla Model 3</td>
                <td>Tesla</td>
                <td>1,100,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ford F-Series</td>
                <td>Ford</td>
                <td>1,000,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Honda CR-V</td>
                <td>Honda</td>
                <td>950,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Chevrolet Silverado</td>
                <td>Chevrolet</td>
                <td>900,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Honda Civic</td>
                <td>Honda</td>
                <td>850,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Ram 1500</td>
                <td>RAM</td>
                <td>800,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Volkswagen Golf</td>
                <td>Volkswagen</td>
                <td>750,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>9</td>
                <td>BMW 3 Series</td>
                <td>BMW</td>
                <td>720,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Hyundai Elantra</td>
                <td>Hyundai</td>
                <td>700,000</td>
                <td>South Korea</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Toyota RAV4</td>
                <td>Toyota</td>
                <td>680,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Mercedes-Benz C-Class</td>
                <td>Mercedes-Benz</td>
                <td>660,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Hyundai Tucson</td>
                <td>Hyundai</td>
                <td>650,000</td>
                <td>South Korea</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Volkswagen Tiguan</td>
                <td>Volkswagen</td>
                <td>630,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Chevrolet Equinox</td>
                <td>Chevrolet</td>
                <td>600,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Ford Escape</td>
                <td>Ford</td>
                <td>580,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Ford Focus</td>
                <td>Ford</td>
                <td>570,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Kia Sportage</td>
                <td>Kia</td>
                <td>550,000</td>
                <td>South Korea</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Chevrolet Malibu</td>
                <td>Chevrolet</td>
                <td>530,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>20</td>
                <td>BMW X5</td>
                <td>BMW</td>
                <td>510,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Hyundai Sonata</td>
                <td>Hyundai</td>
                <td>490,000</td>
                <td>South Korea</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Toyota Camry</td>
                <td>Toyota</td>
                <td>470,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Jeep Grand Cherokee</td>
                <td>Jeep</td>
                <td>460,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Audi A3</td>
                <td>Audi</td>
                <td>450,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Volkswagen Passat</td>
                <td>Volkswagen</td>
                <td>430,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Chevrolet Traverse</td>
                <td>Chevrolet</td>
                <td>420,000</td>
                <td>USA</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Nissan Rogue</td>
                <td>Nissan</td>
                <td>410,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Honda Pilot</td>
                <td>Honda</td>
                <td>400,000</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>29</td>
                <td>BMW 5 Series</td>
                <td>BMW</td>
                <td>390,000</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Toyota Highlander</td>
                <td>Toyota</td>
                <td>380,000</td>
                <td>Japan</td>
            </tr>
        </tbody>
    </table>

