.base-width-10 {
    flex-basis: 10rem;
}

.base-width-20 {
    flex-basis: 20rem;
}

.max-rows-3 {
    /* line height 1.5 x 3 = 4.5 we add 0.5 so that the user can see part of the next line,
    that way we hint to the user that there is more info to be found using the scroll */
    max-height: 5em;
}

.no-bullets {
    list-style: none;
}

.focus-wrapper:focus-within {
    border-color: #89CDFF;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #89CDFF;

}

.unread-marker {
    display: list-item;
    list-style-type: disc;
    position: absolute;
    top: 0.5rem;
    left: -0.6rem;
    font-size: 2rem;
    line-height: 0;
}