<section class="d-flex flex-column flex-lg-row p-5 h-100">
    <aside class="d-flex flex-column border-end pe-5 base-width-20">
        <div class="lc-menu">
            <h1>Messages</h1>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    <span class="fw-bold">Inbox (23)</span>
                    <span class="text-warning fw-bold float-end">2</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Sent</a>
            </div>
            <div class="d-grid">
                <button type="button" class="btn btn-primary btn-lg mt-4">New message</button>
            </div>

        </div>
    </aside>
    <section class="d-flex flex-column border-end flex-shrink-1">
        <h2 class="mt-2 ps-4">Inbox</h2>
        <ul tabindex="0" class="no-bullets focus-wrapper rounded ps-5 mb-0 overflow-y-auto">
            <li class="bg-primary-10 p-3 border-bottom">
                <div class="d-flex gap-3 fw-bold position-relative">
                    <span class="unread-marker text-warning"></span>
                    <span class="flex-grow-1 d-inline-block text-truncate" title="User Usersson, Another Username">User
                        Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div>
                    Subject text
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="unread-marker text-warning"></span>

                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Subject text
                </div>
            </li>
            <li class="p-3 border-bottom bg-light">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
            <li class="p-3 border-bottom">
                <div class="d-flex gap-3 position-relative">
                    <span class="fw-bold flex-grow-1 d-inline-block text-truncate"
                        title="User Usersson, Another Username">User Usersson, Another Username</span>
                    <time class="text-nowrap" datetime="2023-09-14T14:27:00">2024-01-30 14:27</time>
                </div>
                <div class="text-truncate">
                    Lorem ipsum dolor sit amet
                </div>
            </li>
        </ul>
    </section>

    <section class="d-flex flex-column flex-grow-1 gap-2 ps-5">
        <div class="d-flex flex-column gap-3">
            <h2 class="mt-2">Subject text</h2>
            <p><time>2024-01-30 14:27</time></p>
            <p>From: User Userson
            </p>
            <p tabindex="0" class="max-rows-3 overflow-y-auto focus-wrapper rounded">To: User Otherson, User Otherson,
                User
                Otherson,
                User Otherson,User Otherson, User Otherson, User Otherson,User Otherson, User Otherson, User Otherson,
                User Otherson, User Otherson, User Otherson,User Otherson, User Otherson, User Otherson,User Otherson,
                User Otherson, User Otherson,User Otherson, User Otherson, User Otherson, User Otherson, User Otherson,
                User Otherson, User Otherson, User Otherson, User Otherson,User Otherson, User Otherson, User Otherson,
                User Otherson, User Otherson, User Otherson,User Otherson, User Otherson, User Otherson,User Otherson,
                User Otherson, User Otherson
            </p>
        </div>

        <hr class="m-1">
        <div tabindex="0" class="flex-grow-1 overflow-y-auto focus-wrapper rounded">
            <p>Hi!</p>
            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test
                text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test
                text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test
                text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test
                text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test
                text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test
                text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test text.</p>

            <p>This is a test text. This is a test text.This is a test text.This is a test text.This is a test text.This
                is a test text.</p>
        </div>
        <div class="d-flex justify-content-end gap-3 flex-wrap">
            <button lab-access class="btn btn-primary btn-lg base-width-10 ">Reply</button>
            <button lab-access class="btn btn-secondary btn-lg base-width-10 ">Forward</button>
            <button lab-access class="btn btn-secondary btn-lg base-width-10 ">Delete</button>
        </div>
    </section>
</section>